@import "./reset.styl"
@import "./base.styl"
@import './class.styl'
@import './fun.styl'
@import './iconfont'

@font-face {
  font-family: 'iconfont';  /* project id 832024 */
  src: url('//at.alicdn.com/t/font_832024_1efp2rkqwep.eot');
  src: url('//at.alicdn.com/t/font_832024_1efp2rkqwep.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_832024_1efp2rkqwep.woff') format('woff'),
  url('//at.alicdn.com/t/font_832024_1efp2rkqwep.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_832024_1efp2rkqwep.svg#iconfont') format('svg');
}
// <span class="icon">&#xe748;</span>
